body {
  background: linear-gradient(
    -55deg,
    #ee7752,
    #fc466b,
    #c471ed,
    #3f5efb,
    #23d5ab
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card-header {
  justify-content: center;
}

.container {
  font-family: "IM Fell DW Pica SC", serif;
}

.btn-outline-primary.custom-btn {
  background-color: #fff;
  border-color: #52b8d9;
}
.btn-outline-primary.custom-btn:hover {
  background: #52b8d9;
  color: #fff !important;
}

.btn-outline-primary.custom2-btn {
  background-color: #fff;
  border-color: #52b8d9;
}
.btn-outline-primary.custom2-btn:hover {
  background: #52b8d9;
  color: #fff !important;
  box-shadow: 1px 1px #3f5efb, 2px 2px #3f5efb, 3px 3px #3f5efb !important;
  transform: translateX(-3px);
}

.textblue {
  color: #3f5efb;
}
a.textblue:hover {
  color: white !important;
  text-decoration: none;
}

a.textwhite {
  color: whitesmoke;
  transition: transform 0.25s;
}

a.textwhite:hover {
  color: white !important;
  text-decoration: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .5s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
}

p {
  font-family: "IM Fell DW Pica SC", serif;
}

#forecastHi {
  font-weight: 900;
  font-size: 30px;
  line-height: 48px;
  font-family: "Averia Libre", cursive;
  color: #2c3e50;
}

#forecastLo {
  font-weight: 900;
  font-size: 20px;
  line-height: 48px;
  font-family: "Averia Libre", cursive;
  color: gray;
}

#footer {
  font-weight: 900;
  font-size: 20px;
  line-height: 48px;
  font-family: "Averia Libre", cursive;
  color: #2c3e50;
  text-align: center;
  line-height: 3rem;
  margin-top: 20px;
}

#place {
  font-weight: 900;
  font-size: 50px;
  line-height: 48px;
  font-family: "Averia Libre", cursive;
  color: #52b8d9;
  display: inline-block;
  text-align: center;
}

#tempo {
  font-weight: 900;
  font-size: 134px;
  line-height: 48px;
  font-family: "Averia Libre", cursive;
  display: inline-block;
  color: whitesmoke;
}

#date {
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  color: #2c3e50;
  font-family: "IM Fell DW Pica SC", serif;
}

#starry {
  margin-top: 5%;
  width: 100px;
  height: 100px;
}

#inputCity {
  text-align: left;
  font-family: "Roboto Slab", serif;
}

#city {
  text-align: center;
}

#searchCity {
  font-family: "Roboto Slab", serif;
  color: #52b8d9;
}

#place {
  font-weight: 900;
  font-size: 50px;
  text-align: center;
}

#icon {
  width: 100px;
  height: 100px;
  padding: 10px;
  position: relative;
  margin-left: 20%;
}

#day {
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  font-family: "Averia Libre", cursive;
}

.row {
  display: flex;
  align-items: center;
}

.units {
  position: relative;
  top: -24px;
  font-size: 24px;
  color: #52b8d9;
}

#clear {
  font-size: 44px;
  color: #black;
  text-align: center !important;
}

#weatherTopBox .row div:last-child p {
  line-height: 3rem;
  margin-top: 20px;
}

#dateBox #icon {
  margin: 0 auto;
}

@media (max-width: 991.98px) {
  #weatherTopBox,
  #timeTempBox {
    margin-bottom: 20px;
  }

  #weatherTopBox .row div,
  #timeTempBox .row div {
    text-align: center !important;
  }

  #timeTempBox .row div {
    margin-bottom: 20px;
  }

  #timeTempBox .row div:nth-child(2) {
    margin-top: -20px;
  }

  #dateBox .card-header {
    font-size: 1.2rem;
    padding: 10px;
  }
}

@media (max-width: 767.98px) {
  #dateBox .card-deck {
    display: block;
  }

  #dateBox .card-deck .card {
    margin-bottom: 20px;
  }

  #dateBox #icon {
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  #shadowbtn {
    color: #1d9af2 !important;
    border: 1px solid #1d9af2 !important;
    border-radius: 4px !important;
    padding: 0 15px !important;
    cursor: pointer !important;
    height: 32px !important;
    font-size: 14px !important;
    transition: all 0.2s ease-in-out !important;
  }
}
